.header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.categoryList {
  list-style: none;

  li {
    margin-bottom: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    width: fit-content;
  }
}

.categoryList li div {
  display: flex;
  height: 1.5rem;

  .categoryTitle {
    width: 10rem;
    height: 100%;
  }

  input {
    height: 100%;
  }

  button {
    margin: 0 0.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button:hover img {
    filter: invert(22%) sepia(89%) saturate(3289%) hue-rotate(348deg)
      brightness(90%) contrast(104%);
  }
}

.newLabel {
  color: var(--shade1);
  font-weight: bold;
}

.new {
  display: flex;
  height: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  .newInput {
    width: 10rem;
  }

  button {
    margin: 0 0.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button:hover img {
    filter: invert(22%) sepia(89%) saturate(3289%) hue-rotate(348deg)
      brightness(90%) contrast(104%);
  }
}
