.link {
  background-color: var(--shade1);
  color: var(--white);
  border-radius: 30px;
  padding: 0.8rem;
  &_container {
    padding: 2rem;
  }
}

.user {
  margin-top: 0.5rem;
  padding-left: 2rem;

  p {
    margin-bottom: 0.5rem;
  }
}
