.outer_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 7ch;
}

.image_container {
  grid-column: 1 / span 10;
}

.text_container {
  grid-column: 1 / span 10;
}

.title {
  margin: 1rem 0;
}

@media (min-width: 700px) {
  .image_container {
    grid-column: 1/7;
  }
  .image {
    position: sticky;
    top: 4.5rem;
  }
  .text_container {
    grid-column: 7/11;
  }
}
@media (min-width: 1100px) {
  .image_container {
    grid-column: 1 / 7;
  }

  .text_container {
    grid-column: 7 / 11;
  }
}
