.field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
  width: 100%;
}

.field label {
  font-size: 1rem;
  min-width: 140px;
}

.field input,
.field textarea {
  border: 1px solid var(--shade1);
  border-radius: 3px;

  flex: 1;
  padding: 10px;
  width: 100%;
}

.field input:focus,
.field textarea:focus {
  background-color: var(--shade4);
}

.fieldTextarea {
  align-items: flex-start;
}

.field textarea {
  flex: 1;
  min-height: 3rem;
}

.fieldInvalid input,
.fieldInvalid textarea {
  background-color: #e9312e2f;
  border-color: var(--secondary);
}

.errors {
  margin-top: 0.5rem;
  color: var(--secondary);
}

.errors__title {
  margin-top: 1rem;
}
