.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

//nav
.block {
  display: flex;
  height: 1200px;
  background-color: #eee;
  margin-bottom: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.navbar {
  // list-style: none;
  margin-bottom: 1rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  // color: #eee;
  // text-align: center;
  // width: 100%;
  // top: 0px;
  display: flex;
}

.navbar li {
  list-style-type: none;
  padding: 0.5rem 1rem;
  margin: 0 5rem;
}

.navbar li a {
  color: #eee;
  text-decoration: none;
}

.navbar li a.active {
  color: tomato;
}
