.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6ch;
}

.heading_container {
  grid-column: 1 / span 2;
}
.state_container {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  flex-direction: column;
  grid-column: 1 / span 2;
}
.details_container {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  flex-direction: column;
  grid-column: 1 / span 2;
}

@media (min-width: 900px) {
  .state_container {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .details_container {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
