.number_cell {
  text-align: end;
}

.table_container {
  display: flex;
  flex: 1;
  padding-top: 1em;
}

.link {
  font-weight: bold;
  color: var(--shade2);
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
  }
}
